{{#partial "title"}}
    {{../pageTitle}}
{{/partial}}
{{#partial "imports"}}
    <link rel="stylesheet" href="/dist/index.css" />
{{/partial}}
{{#partial "body-attr"}}
    class="style-{{../style}}"
{{/partial}}

<div class="page-header">
    <div class="header-title">
        {{#if options.return}}
        <a class="header-back-container" href="{{ options.return }}">
        {{else}}
        <a class="header-back-container">
        {{/if}}
            <button class="header-back" id="page-back-button">
                <span class="back-label">←</span>
                <span class="back-arrow"></span>
            </button>
        </a>
        <div class="header-org">
            <img draggable="false" class="org-icon" src="/assets/icon-{{style}}.svg" alt="{{style}}" />
        </div>
    </div>
    <div class="header-subtitle">
        <img draggable="false" class="akso-pay-icon" src="/assets/icon-akso-pay-{{style}}.svg" alt="AKSO-Pago" />
    </div>
</div>

{{#if options.error}}
    <div class="page-error">
        {{options.error}}
    </div>
{{/if}}
{{#if options.message}}
    <div class="page-message">
        {{options.message}}
    </div>
{{/if}}

{{#if options.canceled}}
<div class="payment-canceled-page">
    <h1>{{locale.cancel.successTitle}}</h1>
    <p>
        {{locale.cancel.successDescription}}
    </p>
</div>
{{else if options.cancel}}
<div class="payment-cancellation-page">
    <h1>{{locale.cancel.title}}</h1>
    <p>
        {{locale.cancel.description}}
    </p>
    <div class="cancel-actions">
        <form class="cancel-action" method="GET">
            {{#if options.return}}
            <input class="hidden-input" name="return" value="{{ options.return }}" />
            {{/if}}
            <button type="submit" class="action-button">
                {{locale.cancel.no}}
            </button>
        </form>
        <form class="cancel-action" method="POST">
            <input class="hidden-input" name="type" value="cancel" />
            <input class="hidden-input" name="return" value="{{ options.return }}" />
            <button type="submit" class="action-button">
                {{locale.cancel.yes}}
            </button>
        </form>
    </div>
</div>
{{else}}
<div class="payment-page">
    <div class="order-details">
        <h1>{{locale.order.title}}</h1>
        <ul class="order-items">
            {{#each intent.purposes}}
                {{#if (equals this.type "manual")}}
                    <li class="order-item">
                        <div class="order-item-details">
                            <h4 class="item-title">{{this.title}}</h4>
                            <div class="item-description">
                                {{#renderMarkdown this.description}}{{/renderMarkdown}}
                            </div>
                        </div>
                        <div class="order-item-price">
                            {{#renderCurrency ../intent.currency this.amount}}{{/renderCurrency}}
                        </div>
                    </li>
                {{/if}}
                {{#if (equals this.type "addon")}}
                    <li class="order-item">
                        <div class="order-item-details">
                            <h4 class="item-title">{{this.paymentAddon.name}}</h4>
                            <div class="item-description">
                                {{#renderMarkdown this.paymentAddon.description}}{{/renderMarkdown}}
                            </div>
                        </div>
                        <div class="order-item-price">
                            {{#renderCurrency ../intent.currency this.amount}}{{/renderCurrency}}
                        </div>
                    </li>
                {{/if}}
                {{#if (equals this.type "trigger")}}
                    <li class="order-item">
                        <div class="order-item-details">
                            <h4 class="item-title">{{this.title}}</h4>
                            <div class="item-description">
                                {{#renderMarkdown this.description}}{{/renderMarkdown}}
                            </div>
                        </div>
                        <div class="order-item-price">
                            {{#renderCurrency ../intent.currency this.amount}}{{/renderCurrency}}
                        </div>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
        <div class="order-total">
            <span class="order-total-label">
                {{locale.order.total}}
            </span>
            <span class="order-total-price">
                {{#renderCurrency intent.currency intent.totalAmount}}{{/renderCurrency}}
            </span>
        </div>
    </div>

    <div class="payment-method-container">
        {{#if (equals intent.status "pending")}}
            {{#if (equals intent.paymentMethod.type 'manual')}}
                <form class="payment-method" method="POST">
                    <h2 class="method-name">{{intent.paymentMethod.name}}</h2>
                    <div class="method-description">
                        {{#renderMarkdown intent.paymentMethod.description}}{{/renderMarkdown}}
                    </div>
                    {{#if intent.paymentMethod.paymentValidity}}
                        {{locale.methods.expiresIn}}
                        {{#renderValidity intent}}{{/renderValidity}}
                    {{/if}}
                    <p>
                        {{locale.methods.manual.description}}
                    </p>
                    <input class="hidden-input" name="type" value="submit" />
                    <input class="hidden-input" name="return" value="{{ options.return }}" />
                    <button class="submit-button" type="submit">
                        <span class="submit-label">{{locale.methods.manual.submit}}</span>
                    </button>
                </form>
            {{/if}}
            {{#if (equals intent.paymentMethod.type 'stripe')}}
                <form class="payment-method" id="stripe-form" method="POST" data-return="{{ options.return }}">
                    <div class="form-contents">
                        <h2 class="method-name">{{intent.paymentMethod.name}}</h2>
                        <div class="method-description">
                            {{#renderMarkdown intent.paymentMethod.description}}{{/renderMarkdown}}
                        </div>
                        {{#if intent.paymentMethod.paymentValidity}}
                            {{locale.methods.expiresIn}}
                            {{#renderValidity intent}}{{/renderValidity}}
                        {{/if}}
                        <noscript class="stripe-elements-noscript">
                            {{locale.methods.stripe.noscript}}
                        </noscript>
                        <div
                            class="method-stripe-elements"
                            id="stripe-elements"
                            data-stripe-pk="{{ stripePk }}"
                            data-stripe-cs="{{ intent.stripeClientSecret }}">
                            <div class="method-contents">
                                <div class="form-field">
                                    <label>{{locale.methods.stripe.customerName}}</label>
                                    <div class="form-input-static">{{intent.customer.name}}</div>
                                </div>
                                <div class="form-field">
                                    <label>{{locale.methods.stripe.customerEmail}}</label>
                                    <div class="form-input-static">{{intent.customer.email}}</div>
                                    <div class="form-field-description">
                                        {{locale.methods.stripe.customerEmailDescription}}
                                    </div>
                                </div>
                                <div class="form-field">
                                    <label>{{locale.methods.stripe.cardNumber}}
                                    <div class="stripe-card-input"></div>
                                    <div class="stripe-card-error"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="submit-button">
                        <span class="submit-label">{{locale.methods.stripe.submit}}</span>
                        <div class="submit-loading"></div>
                        <svg class="submit-error" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                            <path class="submit-error-exclam" d="M10.2942857,4.88742857 C10.4262857,3.11314286 11.9074286,1.71428571 13.7142857,1.71428571 C15.6085714,1.71428571 17.1428571,3.24857143 17.1428571,5.14285714 C17.1428571,6.36171429 16.6902857,7.55314286 16.0937143,9.08228571 C15.4971429,10.6114286 14.5388571,12.4885714 13.548,14.4548571 C13.2634286,15.0205714 12.6805714,15.4285714 12,15.4285714 C11.1205714,15.4285714 10.3954286,14.7668571 10.2977143,13.92 C10.1982857,13.0628571 10.1657143,6.66171429 10.2942857,4.88742857 Z" fill="#FFFFFF" fill-rule="nonzero" />
                            <circle class="submit-error-dot" fill="#FFFFFF" cx="11" cy="20" r="3" />
                        </svg>
                    </button>
                    <div class="form-error-container"></div>
                </form>
            {{/if}}

            <form id="payment-cancel" class="payment-cancel" method="POST">
                <input class="hidden-input" name="type" value="precancel" />
                <input class="hidden-input" name="return" value="{{ options.return }}" />
                <button class="cancel-button" type="cancel">
                    <span class="cancel-label">{{locale.methods.cancel}}</span>
                </button>
            </form>
        {{/if}}
        {{#if (equals intent.status "processing")}}
            <div class="payment-method is-status">
                <h2 class="processing-title">{{locale.statuses.processing.title}}</h2>
                <p>
                    {{locale.statuses.processing.description}}
                </p>
            </div>
        {{/if}}
        {{#if (equals intent.status "submitted")}}
            <div class="payment-method is-status">
                <h2 class="processing-title">{{locale.statuses.submitted.title}}</h2>
                <p>
                    {{locale.statuses.submitted.description}}
                </p>
            </div>

            <form id="payment-cancel" class="payment-cancel" method="POST">
                <input class="hidden-input" name="type" value="precancel" />
                <input class="hidden-input" name="return" value="{{ options.return }}" />
                <button class="cancel-button" type="cancel">
                    <span class="cancel-label">{{locale.methods.cancel}}</span>
                </button>
            </form>
        {{/if}}
    </div>
</div>
{{/if}}

{{#if useStripe}}
    {{! only load stripe JS if this is a stripe payment }}
    <script src="https://js.stripe.com/v3/"></script>
{{else}}
    <!-- stripe not required for this page  -->
{{/if}}
<script src="/dist/index.js"></script>
